{% extends 'MainBundle::layout.html.twig' %}

{% block body %}
    <div class="popup_opacity_layer">
        <div class="popup">
            <span class="close_popup">&times;</span>
            <div class="dynamic_form"></div>
        </div>
    </div>
{% endblock %}