{% extends 'MainBundle::layout.html.twig' %}

{% block body %}
    <a href="{{ url('personal_area', { 'action': 'lost' }) }}">I lost</a>
    <a href="{{ url('personal_area', { 'action': 'find' }) }}">I find</a>
{% endblock %}