html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1.2;
    font-family: sans-serif;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header{
    background: url("../images/top_image.jpg") 100% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

#header a{
    color: #ffffff;
    text-decoration: none;
}

#greetings {
    float: right;
}

.popup_opacity_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
}

#dots_layer {
    background: url('../images/dots.png');
    position: relative;
    z-index: 1;
}

.popup {
    width: 600px;
    margin: 0 auto;
    background: #4a4a62;
    position: relative;
    z-index: 2;
}

.close_popup {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}