<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/personal_area_styles.css') }}">
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
        <script src="{{ asset('js/custom_script.js') }}"></script>
    </body>
</html>
