{% extends "PersonalAreaBundle:default:index.html.twig" %}

{% block body %}
    <form action="{{ url('personal_area', { 'action': action }) }}" method="post" enctype="multipart/form-data">
        <p>
            <select name="country" id="country">
                <option value="0">Select country</option>
                <option value="-1">Other county</option>
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.country }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input type="text" list="list_country" name="custom_country" id="custom_country" placeholder="custom_country" autocomplete="off">
            <datalist id="list_country">
                {% for country in countries %}
                    <option value="{{ country.country }}"></option>
                {% endfor %}
            </datalist>
        </p>
        <p>
            <button type="button" id="button_next1">Next</button>
        </p>
        <p>
            <select name="city" id="city"></select>
        </p>
        <p>
            <input type="text" list="list_city" name="custom_city" id="custom_city" placeholder="custom_city" autocomplete="off">
            <datalist id="list_city"></datalist>
        </p>
        <p>
            <button type="button" id="button_next2">Next</button>
        </p>
        <p>
            <input type="text" list="list_area" name="area" id="area" placeholder="area" autocomplete="off">
            <datalist id="list_area"></datalist>
        </p>
        <p id="example_area">
            Пример: Московский р-н или Минская обл.
        </p>
        <p>
            <button type="button" id="button_next3">Next</button>
        </p>
        <p>
            <input type="text" list="list_street" id="street" name="street" placeholder="street" autocomplete="off">
            <datalist id="list_street"></datalist>
        </p>
        <p id="example_street">
            Пример: Лермонтова ул. или Победителей пр.
        </p>
        <p>
            <select name="thing" id="thing"></select>
        </p>
        <p>
            <input type="text" list="list_thing" name="custom_thing" id="custom_thing" placeholder="custom_thing" autocomplete="off">
            <datalist id="list_thing"></datalist>
        </p>
        <p>
            <input type="file" name="image_thing" id="image_thing">
        </p>
        <p>
            <textarea id="description" name="description" spellcheck="false"></textarea>
        </p>
        <p>
            <button type="button" id="button_next4">Next</button>
        </p>
        <p>
            <input type="submit" name="submit" id="form_submit">
        </p>
    </form>
{% endblock %}